:root {
  
  /* Main Settings  */
  --main-background-color: rgb(49, 56, 95);

  --text-primary-color: rgb(193, 201, 247);
  --text-secondary-color: rgb(233, 30, 99);

  /* Nav Settings  */
  --nav-link-color: rgb(255, 152, 0);
  --nav-link-hover-color: rgb(44, 142, 48);
  --nav-link-hover-background-color: none;
  --nav-background-color: none;
  --nav-height: 150px;
  --nav-logo-width: 125px;
  --nav-logo-font-size: 16px;

  /* Mobile Nav Settings  */

  --mobile-nav-background-color: rgb(49, 56, 95);
  --mobile-nav-logo-height:100px;
  --mobile-nav-link-color: rgb(255, 152, 0);
  --mobile-nav-link-hover-color: rgb(44, 142, 48);
  --mobile-nav-link-size: 20px;

  /* Card Settings  */
  --card-background-color: rgb(85, 120, 202);
  --card-border-radius: 10px;
  --card-shadow: 10px 10px 20px -13px rgb(31, 30, 30);

  /* Minting Area */
  --minting-box-color: #151A1F;
  --minting-box-heading-color: white;
  --minting-box-info-box-color: rgb(65, 65, 65);
  --minting-box-text-color: white;


  /* Minting Button */
  --minting-button-color: linear-gradient(180deg,#604ae5 0%,#9e2af1 100%);
  --minting-button-text-color: white;

}






